body {
    font-family: Arial;
    text-align: center;
    background: #f1f3f5;
}

textarea {
    width: 70%;
    height: 200px;
    margin: 20px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #228be6;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    background: white;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}